/*  Footer */
.footer {
	position: relative;
	background-color: var(--footer-background);
}
.footer-top {
	padding-top: 60px;
	padding-bottom: 20px;
}
.footer-top > .container {
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 0px;
    padding-right: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #696969;
	border-left: unset;
	border-right: unset;
}
.footer-contact-wrap {
	position: relative;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer-contact-wrap > div {
	position: relative;
	display: flex;
	gap: 10px;
}
/* .footer-contact-wrap > .address-ft:before {
	content: '';
	width: 40px;
	height: 40px;
	background-image: url(../images/address.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-top: 6px;
	opacity: 0.8;
} */
.footer-contact-wrap > .phone-ft:before {
	content: '';
	width: 20px;
	height: 21px;
	background-image: url(../images/call.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-top: 3px;
	opacity: 0.8;
}
.footer-contact-wrap > .email-ft:before {
	content: '';
	width: 20px;
	height: 21px;
	background-image: url(../images/mail.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-top: 3px;
	opacity: 0.8;
}
.footer-contact-wrap > .office-ft:before {
    content: '';
    width: 20px;
    height: 21px;
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 3px;
    opacity: 0.8;
}
.footer-contact-wrap p, .footer-contact-wrap a, .footer-contact-wrap > .office-ft span {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	color: #FFF;
	opacity: 0.8;
	transition: all 0.4;
}
.bi-twitter-x {
	width: 13px;
	margin-top: -2px
}
.footer-contact-wrap a:hover {
	opacity: 1
}
.social-profile-wrap {
	display: flex;
	gap: 30px;
	justify-content: end;
}
ul#menu-industries {
	column-count: 2;
}
.footer-column ul.menu li {
	margin-bottom: 0;
}
.footer-column ul.menu li a {
	font-family: var(--site-secondary-font);
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	text-align: left;
	color: #FFF;
	opacity: 0.8;
	transition: all 0.4s;
}
.footer-column ul.menu li a:hover {
	opacity: 1;
	letter-spacing: 0.5px
}
.social-profile-contain ul.social-profile {
	display: flex;
	gap: 10px;
	margin: 0;
}
.footer .widget-title, .footer .widgettitle {
	color: #FFF;
	font-size: 22px;
	font-weight: 700;
	line-height: 38px;
	text-align: left;
	font-family: var(--site-secondary-font);
	text-transform: capitalize;
	margin-bottom: 10px;
}
.social-profile-contain ul.social-profile li a {
	display: inline-block;
	text-align: center;
	color: #4C5469;
	font-size: 18px;
	transition: all 0.4s;
	background-color: #FFF;
	margin-right: 0px;
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #FFF;
	opacity: 0.8
}
.social-profile-contain ul.social-profile li a:hover {
	color: #FFF;
	transform:rotate(360deg); 
	-ms-transform:rotate(360deg); 
	-webkit-transform:rotate(360deg); 
	background-color: transparent;
	opacity: 1;
}
.copyright p {
	color: #FFF;
	font-family: var(--site-primary-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 21.86px;
	text-align: left;
	margin-bottom: 0;
	opacity: 0.8
}



/* Update Ft Css */
.new-ft-address {
    display: flex;
    justify-content: flex-start;
	align-items: flex-start;
	gap: 50px;
	padding-top: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid #696969;
}
.footer-logo-brand > img {
    max-width: 300px;
}
.new-ft-address .address-ft {
    width: 50%;
}
.new-ft-address .address-ft p,
.footer-contact-details a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.new-ft-address .address-ft span {
    position: relative;
    display: inline-block;
}
.new-ft-address .address-ft .ind-flag {
    background-image: url(../images/indian-flag.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 100px;
    height: 40px;
}
.new-ft-address .address-ft .us-flag {
    background-image: url(../images/us-flag.svg);
    background-repeat: no-repeat;
    background-position: left;
	width: 100px;
	height: 40px;
}
.footer-contact-details {
	padding-top: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 50px;
}
.footer-contact-details > div {
    width: 50%;
}
.footer-contact-details .telephone-ft,
.footer-contact-details .phone-ft,
.footer-contact-details .email-ft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
	padding-bottom: 15px;
}
.footer-contact-details .telephone-ft span,
.footer-contact-details .phone-ft span,
.footer-contact-details .email-ft span {
    display: inline-block;
}
.telephone-ft span {
    background-image: url(../images/tele-phone.svg);
}
.phone-ft span {
    background-image: url(../images/phone-icon.svg);
}
.email-ft span {
    background-image: url(../images/to-mail.svg);
}
.footer-contact-details .telephone-ft span,
.footer-contact-details .phone-ft span,
.footer-contact-details .email-ft span {
	background-repeat: no-repeat;
	background-position: left;
	width: 30px;
	height: 30px;
}


@media (max-width: 1024px) {
	.footer-contact-details {
		gap: 30px;
	}
}

@media (max-width: 990px) {
	.footer-bottom .row > div {
		width: 50%;
	}
	.footer-bottom .row {
		flex-direction: row-reverse;
		align-items: center;
	}
}

@media (max-width: 767px) {
	.widgettitle {
		cursor: pointer;
		position: relative;
		padding-right: 20px;
	}
	.widgettitle::after {
		content: '';
		background-image: url('../images/footer-dropdown-arrow.svg');
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		height: 35px;
		transform: rotate(0deg);
		transition: transform 0.3s ease;
	}
	.widgettitle.active::after {
		transform: rotate(180deg);
	}
	.footer .widget_nav_menu .widgettitle {
		font-size: 20px;
		line-height: 30px;
		border-bottom: 1px solid #696969;
		padding-bottom: 10px;
	}
	.footer-top > .container {
		border: none;
	}
	
}

@media (max-width: 600px) {
	.footer-contact-details {
		flex-wrap: wrap;
	}
	.footer-contact-details > div {
		width: 100%;
	}
	.footer-contact-details {
		gap: 0px;
	}
	.footer-bottom .row {
		flex-direction: column-reverse;
		gap: 20px;
	}
	.footer-bottom .row > div {
		width: 100%;
	}
	.copyright p {
		text-align: center;
	}
	.social-profile-wrap {
		justify-content: center;
	}
	.footer-top {
		padding-left: 20px;
		padding-right: 20px;
	}
	.new-ft-address .address-ft {
		width: 100%;
	}
	.new-ft-address {
		gap: 0px;
		flex-wrap: wrap;
		padding-top: 50px;
	}
	.footer-logo-brand > img {
		max-width: 250px;
	}
}

@media (max-width: 480px) {
	.social-profile-wrap .widget-title {
		margin-bottom: 5px;
	}
	.social-profile-wrap {
		flex-direction: column;
		gap: 0px;
		align-items: center;
		margin-bottom: 15px;
	}
	.copyright p {
		text-align: center;
	}
}